/* For desktop: */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bg {
    background: url(img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
    z-index: -500;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}

#ebook {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    z-index: 1000;
    background: none;
}

.pdf-canvas {
    margin: 5px 0 5px 0;
}

#loading {
    justify-content: center;
    align-items: center;
}

#finished {
    color: aliceblue;
    font-weight: bold;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
    bottom: 0;
    display: none;
}

#download {
    z-index: 2000;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    padding: 10px;
}

#download img {
    width: 60px;
    height: 60px;
}

#nav-button {
    z-index: 2000;
    position: fixed;
    width: 30px;
    height: 30px;
    top: 40px;
    left: 40px;
    background-color: peru;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    padding: 10px;
}

#nav-button img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

#nav-button:hover {
    cursor: pointer;
}

#nav-panel {
    z-index: 1900;
    top: 40px;
    left: 70px;
    position: fixed;
    width: 100%;
    max-width: 500px;
    height: 90%;
    display: none;
    overflow-wrap: break-word;
    overflow-y: scroll;
    background-color: grey;
    opacity: 60%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-top: 20px;
    padding-bottom: 50px;
}

#nav-panel .nav-heading {
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: x-large;
    color: white;
    font-weight: 550;
    text-decoration: underline;
}

#nav-panel ol {
    font-size: larger;
    color: white;
    font-weight: 550;
}

.nav-item {
    margin: 20px 10px 20px 10px;
}

.nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-sub-item {
    margin: 10px 0px 10px 5px;
}

.nav-sub-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

#nav-panel::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-device-width: 500px) {
    /* For mobile: */
    #ebook {
        width: 100%;
    }
    .pdf-canvas {
        margin: 0px;
    }
    #download {
        z-index: 1800;
        width: 90px;
        height: 90px;
        left: 10px;
        bottom: 20px;
        border-radius: 200px;
    }
    #download img {
        width: 80px;
        height: 80px;
    }
    #nav-button {
        width: 90px;
        height: 90px;
        top: auto;
        left: auto;
        right: 10px;
        bottom: 20px;
        border-radius: 200px;
    }
    #nav-button img {
        width: 50px;
        height: 50px;
        margin: 20px
    }
    #nav-panel {
        max-width: none;
        width: 100%;
        height: 100%;
        opacity: 95%;
        top: 0;
        left: 0;
    }
    #nav-panel ol{
        font-size: initial;
    }
    .nav-item {
        margin: 20px 20px 20px 25px;
    }
    .nav-sub-item {
        margin: 10px 0px 10px 10px;
    }
}